/* ヘッダー */
.header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* ナビバー */
.navbar {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    height: 50px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #222;
    display: block;
    font-weight: bold;
    line-height: 50px;
    padding: 0 10px;
}

.navbar a:hover {
    background-color: #ddd;
}

/* コンテンツ */
.container {
    margin: 20px;
}